<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="site-header">
      <p class="site-logo">会議促進システム</p>
<!--
      <nav class="gnav">
          <ul class="gnav__menu">
              <li class="gnav__menu__item"><a href="">About</a></li>
              <li class="gnav__menu__item"><a href="">Works</a></li>
              <li class="gnav__menu__item"><a href="">Recruit</a></li>
              <li class="gnav__menu__item"><a href="">News</a></li>
              <li class="gnav__menu__item"><a href="">Contact</a></li>
          </ul>
      </nav>!-->
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer>
      <address>TeamA Bright Light</address>
      <address>KONICA MINOLTA Hackathon.</address>
    </footer>
  </body>
</html>
