<!DOCTYPE html>
<html>
  <head>
    <title>会議中</title>
    <!-- script we made -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/getRoomName.js"></script>
    <script type="text/javascript" src="javascript/meeting_event.js"></script>
    <!-- <script type="text/javascript" src="javascript/meeting_user.js"></script> -->
    <!-- socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/meeting.css' />
  </head>

    <header class="site-header">
      <p id="room_name" class="site-logo"></p>
    </header>
    <body>

    <!-- <text >会議名<%= title %>が進行中</text>
    <p>現在 <%= title %>名が参加中</text> -->
    <div id = top>
      <div class="member" id = "participant">現在2名が参加しています</div>
    </div>
    <div id = messages>
      <div class="chat-box" id = '+participant+'>
        <div class="user" id = "user'+participant+'">AkihiroKanda</div>
        <div class="chat-face"><img src="/images/chat/my.png" alt="" /></div>
        <div class="chat-area">
          <div class="speak-amount" id = "speak-amount">
            <div class="chat-hukidashi" id = "text'+participant+'">message</div>
            <div class="meter">
              <label ><progress class="meter-w" value="10" max="100"><span>100</span>%</progress> （50%）</label >
            </div>

          </div>
        </div>
    </div>
    <div id = total_speak></div>
  </div>
  </body>
  <footer>
    <address>TeamA Bright Light</address>
    <address>KONICA MINOLTA Hackathon.</address>
  </footer>
</html>
