<!DOCTYPE html>
<html>
  <head>
    <title>会議中</title>
    <!-- script we made -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/getRoomName.js"></script>
    <script type="text/javascript" src="javascript/meeting_event.js"></script>
    <!-- <script type="text/javascript" src="javascript/meeting_user.js"></script> -->
    <!-- socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/meeting.css' />
  </head>

    <header class="site-header">
      <p id="room_name" class="site-logo"></p>
    </header>
    <body>

    <!-- <text >会議名<%= title %>が進行中</text>
    <p>現在 <%= title %>名が参加中</text> -->
    <div id = top></div>
    <div id = messages></div>
    <div id = total_speak></div>

    <script>
        var message='test';
        var amount='発話量';
        var confference ='現在会議中です';
        var participant =0;

        var socket = io();

        createtitle();
        create_user();
        create_user();

        changetext(1,1);
        changetext(0,2);
        change_meter(1,400);
        create_user();
        changetext(2,3);

        socket.on('myturn', function(msg){
          console.log('myturn')
          changetext(0,1);
      });

        function createtitle(){
          var top_div = document.getElementById("top");
          text=''
          text+='<div class="now" id = "text">'+confference+'</div>';
          text+='<div class="member" id = "participant">現在'+participant+'名が参加しています</div>';
          top_div.innerHTML += text;
        }

        function updatemember(){
          var top_div = document.getElementById("top");
          text=''
          text+='<div class="now" id = "text">'+confference+'</div>';
          text+='<div class="member" id = "participant">現在'+participant+'名が参加しています</div>';
          top_div.innerHTML = text;
        }

        function create_user(){
          var message_div = document.getElementById("messages");
          text=''
          text+='<div class="chat-box" id = '+participant+'>';
          text+='<div class="user" id = "user'+participant+'">user'+participant+'</div>';
          text+='<div class="chat-face"><img src="/images/chat/my.png" alt="" /></div>';
          text+='<div class="chat-area">';
          text+='<div class="chat-hukidashi" id = "text'+participant+'">'+message+'</div>';
          text+='<div class="speak-amount" id = "speak-amount">'+amount;
          text+='<div class="meter" id = "meter'+participant+'"><meter max="500" low="20" high="40" value="100">';
          text+='</div>';
          text+='</div>';
          text+='</div>';
          message_div.innerHTML += text;
          console.log("user created");
          participant+=1;
          updatemember();
        }

        // 発言を変更（id:何番目の人．flag:表示内容）
        function changetext(id,flag){
          var id = "text"+id;
          var changed_txt = ""
          if(flag ==1){
            changed_txt = "しゃべりたい！！"
          }else if(flag ==2){
            changed_txt = "発言中です"
          }else{
            changed_txt = "…"
          }
          console.log(document.getElementById(id));
          document.getElementById(id).innerHTML=changed_txt;
          console.log("cahnge text")
        }

        // meter の値を変える（id:何番目の人．meter_value:発話量の変化後）
        function change_meter(id,meter_value){
          var id = "meter"+id;
          document.getElementById(id).value = meter_value;
          console.log("change meter");
          console.log(document.getElementById(id));
        }

        // メッセージを受信する
        socket.on('chat message', function(msg){
        console.log('receive')
        insertMessage(1,msg.value);
      });
       
      </script>
       
    <footer>
      <address>TeamA Bright Light</address>
      <address>KONICA MINOLTA Hackathon.</address>
    </footer>
  </body>
</html>
