<!DOCTYPE html>
<html>
    <!-- script we made -->
    <script type="text/javascript" src="javascript/meeting_event.js"></script>
    <script type="text/javascript" src="javascript/meeting_user_create.js"></script>
    <!-- socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <head>
    <title>会議中</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  
    <header class="site-header">
      <p class="site-logo">会議促進システム</p>
    </header>
    <body>
      
    <link rel='stylesheet' href='stylesheets/meeting.css' />   
   
   
    <text >会議名<%= title %>が進行中</text>
    <p>現在 <%= title %>名が参加中</text>

    <div id = messages></div>
    <script>
      create_user();


      function create_user(){
        //
        var message_div = document.getElementById("messages");
        text=''
        text+='<div class="chat-box">';
        text+='<div class="chat-face"><img src="/images/chat/my.png" alt="" /></div>';
        text+='<div class="chat-area">';
        text+='<div class="chat-hukidashi" id = "text">'+message+'</div>';
        text+='</div>';
        text+='</div>';
        message_div.innerHTML += text;
    }
    //   <div class="person">
    //    <text class = "user_name" >Aさん</text>   
    //    <img class ="icon" src = "images/chat/my.png"  width = "90"height ="90"/>
    //    <div class="balloon-text-right">
    //        <text id="sentence">しゃべりたい！</text>
    //    </div>
    //  <div class="speak_amout">
    //    <text>発話量</text>
    //    <meter max="100" low="20" high="40" value="100"></meter>
    //  </div>
    //  </div>
    </script>
 
    <footer>
      <address>TeamA Bright Light</address>
      <address>KONICA MINOLTA Hackathon.</address>
    </footer>
  </body>
</html>
