<!DOCTYPE html>
<html>
<body>
	<div id="header-fixed">
				 <div id="title">
				 </div>
				 <div id="Hackathon">Team A BrightLight</br>KONICA MINOLTA Hackathon.
				 </div>
	</div>
	<div id=padding></div>

	<h1 id="title"></h1>
</body>
</html>
