/***********************************
チャット風レイアウト
************************************/
 #messages{
  background: #777777;
 font-family: Arial;
 width:1000px;
 height:1000px;
 margin-right: auto;
 margin-left : auto;
}
.now{
    font-size: 200%;
      color: #fff;
}
.member{
    font-size: 200%;
      color: #fff;
}

/*画像左側のチャット*/
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.user{
  font-size: 200%;
  font-family: "Comic Sans MS";
  text-align: left;
  margin-left:15px;
  color: #fff;
}
.chat-face {
    float: left;
}
.chat-face img{
float: left;
margin-left:15px;
　　width: 90px;
    height: 90px;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    float: left;
}


div.chat-hukidashi {
float: left;
position: relative;
display: inline-block;
width:auto;
margin-top:0px;
margin-left:15px;
padding: 8px 15px;
/*margin-left: 40px;*/
background: #FF0;
border-radius: 20px;
}
div.chat-hukidashi:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 25px;
    left: -15px;
    border: 8px solid transparent;
    border-right: 18px solid #FF0;
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.meter-w{
  margin-top:10px;
  margin-left:15px;
  width:700px;
  -moz-orient: vertical; /*← horizontalは横(デフォルト)*/
   height: 50px;
}

/*スマホの時は画像を小さく*/
@media screen and (max-width: 440px){
    /*画像左側のチャット*/
    .chat-face {
        float: left;
        margin-right: -80px;
    }
    .chat-face img{
         width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid #ccc;
        box-shadow: 0 0 4px #ddd;
    }
    .chat-hukidashi {
        display: inline-block;
        padding: 10px 10px;
        margin-left: 80px;
        margin-top: 0px;
        border-radius: 10px;
        position: relative;
        background-color: #D9F0FF;
    }
}
.chat-div {
    font-size:4em;
}
form { background-color: white; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 7%; background: rgb(130, 224, 255); border: none; padding: 10px; }/***********************************
